@font-face {
  font-family: 'latobold';
  src: url("../font/lato-bold-webfont.eot");
  src: url("../font/lato-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../font/lato-bold-webfont.woff") format("woff"), url("../font/lato-bold-webfont.ttf") format("truetype"), url("../font/lato-bold-webfont.svg#latobold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'latolight';
  src: url("../font/lato-light-webfont.eot");
  src: url("../font/lato-light-webfont.eot?#iefix") format("embedded-opentype"), url("../font/lato-light-webfont.woff") format("woff"), url("../font/lato-light-webfont.ttf") format("truetype"), url("../font/lato-light-webfont.svg#latolight") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'latobold_italic';
  src: url("../font/lato-bolditalic-webfont.eot");
  src: url("../font/lato-bolditalic-webfont.eot?#iefix") format("embedded-opentype"), url("../font/lato-bolditalic-webfont.woff") format("woff"), url("../font/lato-bolditalic-webfont.ttf") format("truetype"), url("../font/lato-bolditalic-webfont.svg#latobold_italic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'latolight_italic';
  src: url("../font/lato-lightitalic-webfont.eot");
  src: url("../font/lato-lightitalic-webfont.eot?#iefix") format("embedded-opentype"), url("../font/lato-lightitalic-webfont.woff") format("woff"), url("../font/lato-lightitalic-webfont.ttf") format("truetype"), url("../font/lato-lightitalic-webfont.svg#latolight_italic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'latoregular';
  src: url("../font/lato-regular-webfont.eot");
  src: url("../font/lato-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../font/lato-regular-webfont.woff") format("woff"), url("../font/lato-regular-webfont.ttf") format("truetype"), url("../font/lato-regular-webfont.svg#latoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'latoitalic';
  src: url("../font/lato-italic-webfont.eot");
  src: url("../font/lato-italic-webfont.eot?#iefix") format("embedded-opentype"), url("../font/lato-italic-webfont.woff") format("woff"), url("../font/lato-italic-webfont.ttf") format("truetype"), url("../font/lato-italic-webfont.svg#latoitalic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'latoblack';
  src: url("../font/lato-black-webfont.eot");
  src: url("../font/lato-black-webfont.eot?#iefix") format("embedded-opentype"), url("../font/lato-black-webfont.woff") format("woff"), url("../font/lato-black-webfont.ttf") format("truetype"), url("../font/lato-black-webfont.svg#latoblack") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'latoblack_italic';
  src: url("../font/lato-blackitalic-webfont.eot");
  src: url("../font/lato-blackitalic-webfont.eot?#iefix") format("embedded-opentype"), url("../font/lato-blackitalic-webfont.woff") format("woff"), url("../font/lato-blackitalic-webfont.ttf") format("truetype"), url("../font/lato-blackitalic-webfont.svg#latoblack_italic") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* =============================
Colors
================================ */
/* =============================
Page Structure
================================ */
/* line 8, ../sass/_custom.scss */
html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  background-color: transparent;
}

/* line 14, ../sass/_custom.scss */
html {
  background-image: url(../img/bkg.jpg);
  background-position: center 50px;
  background-repeat: repeat;
  background-color: #333;
  background-size: 700px;
  position: relative;
  min-width: 320px;
  /* Small Styles */
  min-height: 360px;
}

/* line 26, ../sass/_custom.scss */
#container {
  width: 100%;
  margin-top: 0;
}

/* ==========================
Typography
============================= */
/* line 36, ../sass/_custom.scss */
html {
  font-family: Helvetica, Arial, sans-serif;
}

/* line 39, ../sass/_custom.scss */
h1, h2, h3, h4, h5, em {
  font-family: "latolight", Helvetica, Arial, sans-serif;
  font-weight: normal;
  line-height: 1.1em;
  margin-bottom: 0;
}

/* line 45, ../sass/_custom.scss */
h1 {
  font-size: 3.25em;
}

/* line 48, ../sass/_custom.scss */
h2 {
  font-size: 1.8em;
  line-height: 1.3em;
  letter-spacing: 0.01em;
}

/* ==========================
Buttons
============================= */
/* line 58, ../sass/_custom.scss */
.btn {
  display: inline-block;
  text-decoration: none;
  margin: 0.2em 0.4em;
  padding: 0.4em 1.2em 0.5em;
  font-size: 1.2em;
  color: white;
  background-color: #b06b3f;
}
/* line 66, ../sass/_custom.scss */
.btn:hover {
  background-color: #995d37;
}

/* ==========================
Helpers
============================= */
/* line 75, ../sass/_custom.scss */
.hide-for-small {
  display: none !important;
}

/* line 78, ../sass/_custom.scss */
.show-for-small {
  display: inherit !important;
}

@media only screen and (min-width: 640px) {
  /* line 82, ../sass/_custom.scss */
  .hide-for-small {
    display: inherit !important;
  }

  /* line 85, ../sass/_custom.scss */
  .show-for-small {
    display: none !important;
  }
}
/* ==========================
Navigation
============================= */
/* line 96, ../sass/_custom.scss */
#topnav {
  position: relative;
  width: 100%;
  height: 50px;
  background-color: #3c3d40;
  margin: 0;
  padding: 0;
  font-family: "latoregular", Helvetica, Arial, sans-serif;
  letter-spacing: 0.02em;
  font-size: 1.03em;
  line-height: 1.05em;
}
/* line 109, ../sass/_custom.scss */
#topnav ul {
  position: relative;
  list-style-type: none;
  text-align: left;
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
}
/* line 117, ../sass/_custom.scss */
#topnav ul li {
  display: inline;
}
/* line 119, ../sass/_custom.scss */
#topnav ul li a {
  position: relative;
  display: inline-block;
  background-size: contain;
  color: #bfbbb2;
  text-decoration: none;
  text-transform: uppercase;
}
/* line 127, ../sass/_custom.scss */
#topnav ul li a:hover {
  color: white;
  border-bottom: none;
}
/* line 131, ../sass/_custom.scss */
#topnav ul li a.img {
  opacity: 0.6;
}
/* line 133, ../sass/_custom.scss */
#topnav ul li a.img:hover {
  opacity: 1;
}
/* line 138, ../sass/_custom.scss */
#topnav ul li.active {
  background-color: #232426;
}
/* line 140, ../sass/_custom.scss */
#topnav ul li.active a {
  color: #ec792d;
  font-family: "latoblack", Helvetica, Arial, sans-serif;
}
/* line 145, ../sass/_custom.scss */
#topnav ul li img {
  position: absolute;
  top: -18px;
  left: 0px;
}
/* line 153, ../sass/_custom.scss */
#topnav .logo {
  display: block;
  margin: 0 1em 0 3em;
  float: none;
}
/* line 159, ../sass/_custom.scss */
#topnav .logo .menuButton {
  background-image: url(../img/nav/menu.png);
  width: 33px;
  height: 33px;
  position: relative;
  top: 0.4em;
  margin-right: 0.5em;
}
/* line 168, ../sass/_custom.scss */
#topnav .logo .mc {
  background-image: url(../img/nav/meringcarson.png);
  background-repeat: no-repeat;
  width: 182px;
  height: 33px;
  position: relative;
  top: 0.65em;
}
/* line 179, ../sass/_custom.scss */
#topnav .pages {
  display: block;
  margin: 0;
  position: relative;
  top: 1.35em;
  float: none;
}
/* line 186, ../sass/_custom.scss */
#topnav .pages li {
  display: block;
  padding: 0;
}
/* line 191, ../sass/_custom.scss */
#topnav .pages li a {
  padding: 0.8em 2.8em;
}
/* line 197, ../sass/_custom.scss */
#topnav .menu {
  display: block;
  background-color: #3c3d40;
  padding: 0 0 1.1em;
  overflow: hidden;
  -webkit-transition-property: height;
  -moz-transition-property: height;
  -o-transition-property: height;
  transition-property: height;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}
/* line 207, ../sass/_custom.scss */
#topnav .more {
  float: none;
}
/* line 211, ../sass/_custom.scss */
#topnav .sister-sites {
  margin: 0 0.5em 0 0;
  float: none;
}
/* line 215, ../sass/_custom.scss */
#topnav .sister-sites li {
  display: block;
}
/* line 219, ../sass/_custom.scss */
#topnav .sister-sites .emcee {
  background-image: url(../img/nav/emcee.png);
  width: 112px;
  height: 30px;
  top: 0.6em;
  margin: 1.4em 0 0 2.6em;
}
/* line 227, ../sass/_custom.scss */
#topnav .sister-sites .blog {
  background-image: url(../img/nav/rss.png);
  background-size: 28px 28px;
  background-position: left center;
  background-repeat: no-repeat;
  width: auto;
  height: 28px;
  margin: 1.2em 0 0 2.8em;
}
/* line 236, ../sass/_custom.scss */
#topnav .sister-sites .blog span {
  position: relative;
  top: 0.35em;
  padding-left: 32px;
  color: #fff9f2;
}
/* line 245, ../sass/_custom.scss */
#topnav .social {
  float: none;
  margin: 0.2em 0 0 2.3em;
}
/* line 249, ../sass/_custom.scss */
#topnav .social li {
  display: inline-block;
}
/* line 251, ../sass/_custom.scss */
#topnav .social li a {
  display: block;
  width: 28px;
  height: 28px;
  margin: 0.7em 0 0 0.4em;
  float: none;
  background-repeat: no-repeat;
  background-position: center center;
}
/* line 261, ../sass/_custom.scss */
#topnav .social .youtube {
  background-image: url(../img/nav/youtube.png);
}
/* line 264, ../sass/_custom.scss */
#topnav .social .twitter {
  background-image: url(../img/nav/twitter.png);
}
/* line 267, ../sass/_custom.scss */
#topnav .social .linkedin {
  background-image: url(../img/nav/linkedin.png);
}
/* line 270, ../sass/_custom.scss */
#topnav .social .facebook {
  background-image: url(../img/nav/facebook.png);
}

/* line 279, ../sass/_custom.scss */
body.navIsHidden #topnav .menu {
  height: 0;
  display: none;
}

/* line 288, ../sass/_custom.scss */
body.navIsActive #topnav .menu {
  height: auto;
  display: block;
}
/* line 293, ../sass/_custom.scss */
body.navIsActive #topnav .logo .menuButton {
  opacity: 1;
}
/* line 301, ../sass/_custom.scss */
body.navIsActive #container {
  margin-top: 350px;
}

@media only screen and (min-width: 1000px) {
  /* line 310, ../sass/_custom.scss */
  body.navIsHidden #topnav .menu, body.navIsActive #topnav .menu {
    display: block;
    height: auto;
  }

  /* line 318, ../sass/_custom.scss */
  #topnav .logo {
    float: left;
  }
  /* line 320, ../sass/_custom.scss */
  #topnav .logo .menuButton {
    display: none;
  }
  /* line 324, ../sass/_custom.scss */
  #topnav .logo .mc {
    background-image: url(../img/nav/mc.png);
    width: 34px;
    height: 34px;
    position: relative;
    top: 0.4em;
  }
  /* line 333, ../sass/_custom.scss */
  #topnav .menu {
    padding: 0;
    background-color: transparent;
  }
  /* line 337, ../sass/_custom.scss */
  #topnav .pages {
    float: none;
    margin: 0;
  }
  /* line 340, ../sass/_custom.scss */
  #topnav .pages li {
    display: inline;
    position: relative;
    top: -6px;
    margin-left: 20px;
    padding: 0;
  }
  /* line 346, ../sass/_custom.scss */
  #topnav .pages li:first-child {
    margin-left: 0;
  }
  /* line 350, ../sass/_custom.scss */
  #topnav .pages li a {
    padding: 0;
  }
  /* line 356, ../sass/_custom.scss */
  #topnav ul li.active {
    background-color: transparent;
  }
  /* line 360, ../sass/_custom.scss */
  #topnav .more {
    float: right;
    position: relative;
    top: -1.1em;
  }
  /* line 365, ../sass/_custom.scss */
  #topnav .sister-sites {
    float: left;
    margin: 0 12px 0 0;
  }
  /* line 368, ../sass/_custom.scss */
  #topnav .sister-sites li {
    display: inline;
  }
  /* line 371, ../sass/_custom.scss */
  #topnav .sister-sites .emcee {
    margin: 0 1.6em 0 0;
  }
  /* line 374, ../sass/_custom.scss */
  #topnav .sister-sites .blog {
    margin: 0 0.8em 0 0;
    position: relative;
    top: -0.2em;
  }
  /* line 380, ../sass/_custom.scss */
  #topnav .social {
    float: left;
    margin: 0 3em 0 0;
  }
}
/* line 387, ../sass/_custom.scss */
.container {
  max-width: 640px;
  /* Small style */
  width: 100%;
}

/* line 393, ../sass/_custom.scss */
.column, .columns {
  padding: 0 1em;
}

/* line 397, ../sass/_custom.scss */
#footer {
  padding: 2em 1em;
  font-size: 0.9em;
  color: #999;
}

/* line 409, ../sass/_custom.scss */
.home {
  color: #eee;
  background-color: transparent;
  font-family: "latolight", Helvetica, Arial, sans-serif;
}
/* line 414, ../sass/_custom.scss */
.home .copyright {
  position: absolute;
  padding: 0;
  bottom: 16px;
  left: 0;
  width: 100%;
  text-align: center;
  text-shadow: 0px 0px 2px #444;
  color: #ccc;
}

/* line 426, ../sass/_custom.scss */
.block {
  width: 100%;
  max-width: 590px;
  margin: 15px auto;
  padding: 45px 0px;
}
/* line 433, ../sass/_custom.scss */
.block h1, .block h2 {
  padding: 0 20px;
}
/* line 438, ../sass/_custom.scss */
.block.orange {
  background-color: #ec792d;
  color: #55565a;
}
/* line 441, ../sass/_custom.scss */
.block.orange h1 {
  color: white;
  font-family: "latolight", Helvetica, Arial, sans-serif;
}
/* line 445, ../sass/_custom.scss */
.block.orange h2 {
  color: #55565a;
  font-family: "latolight", Helvetica, Arial, sans-serif;
}

@media only screen and (min-width: 640px) {
  /* line 453, ../sass/_custom.scss */
  .block {
    padding: 45px;
  }
  /* line 455, ../sass/_custom.scss */
  .block h1, .block h2 {
    padding: 0 20px;
  }
}
/* line 461, ../sass/_custom.scss */
.center {
  margin-left: auto;
  margin-right: auto;
}

/* line 465, ../sass/_custom.scss */
.icon {
  display: block;
  width: 95px;
  height: 95px;
  background-size: contain;
}
/* line 470, ../sass/_custom.scss */
.icon.idea {
  background-image: url(../img/icon-idea.png);
}

/* line 477, ../sass/_custom.scss */
.logo {
  width: 80%;
  height: auto;
  margin: 40px auto 20px auto;
}
/* line 481, ../sass/_custom.scss */
.logo img {
  width: 100%;
}

@media only screen and (min-width: 640px) {
  /* line 487, ../sass/_custom.scss */
  html.home {
    background-size: 1340px;
    min-height: 620px;
  }
  /* line 491, ../sass/_custom.scss */
  html.home .logo {
    width: 600px;
    max-width: none;
    height: 112px;
    margin: 120px auto 70px auto;
  }
}
@media only screen and (min-width: 1000px) {
  /* line 501, ../sass/_custom.scss */
  html.home {
    background-size: 2034px;
    min-height: 750px;
  }
  /* line 505, ../sass/_custom.scss */
  html.home .logo {
    width: 928px;
    height: 173px;
    margin: 170px auto 80px auto;
  }
}
/* ============================
Careers Page
=============================== */
/* line 521, ../sass/_custom.scss */
.careers body {
  background: #eee;
  color: #000;
}
/* line 525, ../sass/_custom.scss */
.careers .container {
  line-height: 1.4em;
  font-size: 0.9em;
}
/* line 528, ../sass/_custom.scss */
.careers .container h1 {
  font-size: 3em;
}
/* line 531, ../sass/_custom.scss */
.careers .container h3 {
  font-size: 1.8em;
  margin-top: 1.8em;
}
/* line 535, ../sass/_custom.scss */
.careers .container em {
  font-size: 1.3em;
}
