/* =============================
Custom 
=============================== */

@font-face {
    font-family: 'latobold';
    src: url('../font/lato-bold-webfont.eot');
    src: url('../font/lato-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/lato-bold-webfont.woff') format('woff'),
         url('../font/lato-bold-webfont.ttf') format('truetype'),
         url('../font/lato-bold-webfont.svg#latobold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'latolight';
    src: url('../font/lato-light-webfont.eot');
    src: url('../font/lato-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/lato-light-webfont.woff') format('woff'),
         url('../font/lato-light-webfont.ttf') format('truetype'),
         url('../font/lato-light-webfont.svg#latolight') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'latobold_italic';
    src: url('../font/lato-bolditalic-webfont.eot');
    src: url('../font/lato-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/lato-bolditalic-webfont.woff') format('woff'),
         url('../font/lato-bolditalic-webfont.ttf') format('truetype'),
         url('../font/lato-bolditalic-webfont.svg#latobold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'latolight_italic';
    src: url('../font/lato-lightitalic-webfont.eot');
    src: url('../font/lato-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/lato-lightitalic-webfont.woff') format('woff'),
         url('../font/lato-lightitalic-webfont.ttf') format('truetype'),
         url('../font/lato-lightitalic-webfont.svg#latolight_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}
$latolight: "latolight", Helvetica, Arial, sans-serif;
$sans-serif: Helvetica, Arial, sans-serif;

html,body {
    background-color: #eee;
}

h1,h2,h3,h4,h5,em {
    font-family: $latolight;
    font-weight: normal;
    line-height: 1.1em;
    margin-bottom: 0;
}

html {
    font-family: $sans-serif;
}


/* =============================
Basic Styles
================================ */

html,body {
    margin:0;
    padding:0;
    min-height: 100%;
    background-color: transparent;
}
html {
    background-image: url(../img/bkg.jpg);
    background-position: center center;
    background-repeat: repeat;
    background-color: #333;
    background-size: 700px;
    position: relative;
    min-width: 320px;
    /* Small Styles */
    min-height: 360px;
}


/* ==========================
Nav Bar
============================= */
$nav-background: #1a1a1a;
$nav-text: #fff;
#topnav, .utilities {
    font-family: $latolight;
}
#topnav {
    li.social {
        a {
            position: relative;
            display: inline-block;
            opacity: 0.6;
            &:hover {
                opacity: 1;
            }
            //Small
            width: 22px;
        }
        img {
            position:absolute; 
            top: -18px;
            left: 0px;
            //Small
            width:22px;
            height:22px;
        }
    }    
}
.emceeLink {
    a {
        display: inline-block;
        width: 86px;
        height: 23px;
        margin: -3px 12px 0 0;
        position: relative;
        top: 6px;
        background: url(../img/emceelink.png);
        background-position: 0px 0px;
        &:hover {
            background-position: 0px 23px;
        }
    }
}

.utilities {
    width:  100%;
    background-color: $nav-background; //rgba(0,0,0,0.6);
    text-align: right;
    letter-spacing: 1px;
    line-height: 1.05em;
    //padding-right: 16px;
    
    .row {
        //padding: 
    }
    
    a {
        text-decoration: none;
        color:  #bfbbb2;
        // font-size:  2 rem;
        text-transform: uppercase;
        &:hover { 
            color:  white; 
            border-bottom: none;
        }   
    }
    i {
        margin: 0px -2px;
    }
    i.big {
        // Icons
        font-size: 1.3em;
        position: relative;
        top: 2px;
    }

    ul {
        position: relative;
        top: 3px;
        margin: 0;
        list-style-type: none;
        text-align: right;
        
        li {
            display:  inline;
            margin-left:  -2px;
            padding: 10px 8px;
            
//          a.social {
//              display: inline-block;
//              width:  18px;
//              height: 18px;
//              position: relative;
//              top: 4px;
//              background: url(../images/social.png);
//              background-position: 0px 0px;
//              &:hover { background-position: 0px -18px; }
//              
//          }
//          
//          a.linkedin {
//              background-position: -18px 0px;
//              &:hover { background-position: -18px -18px; }
//          }

        }
        li:last-child {
            padding-right: 0px;
        }

        li.active {
            background: $nav-background;
            
            a {
                color: $nav-text;
            }
        }
        
        
    }

}
.lt-ie9 {
    .utilities {
        height: 40px;
    }
}
.lt-ie8 {
    .utilities {

        ul li {
            position: relative;
            top: 6px;
        }
    }
    
    .main {
        margin-top: 40px;
    }
}

.contact {
    background: $nav-background;
    height: auto;
    text-align: left;
    float: right;
    display: none; // Start hidden
    color: #ccc;
    position: relative;
    margin-bottom: 2em;
    z-index: 1;
    //top: -10px; // remove top gap in firefox
            
    .column, .columns {
        padding-bottom: 16px;
    }
    
    em {
        position: relative;
        text-transform: uppercase;
        font-style: normal;
        color: $nav-text;
        line-height: 2em;
        
        [class*="icon-"]:before {
            font-size: 1.1em;
            left: -21px;
            position: absolute;
            text-align: right;
            top: 2px;
        }
        
    }
}

.utilities ul {
    margin: 0;
    padding: 0;
    li {
        padding: 10px 2px;
    }
}

// Small Styles
#topnav {
    padding-top: 4px;
    font-size: 0.8em;
    // Small Style
    text-align: left;

}
.emceeLink a {
    margin-right: 0;
}

.utilities {
    height: auto;
}

.utilities ul li.social {
    display: block;
    padding: 22px 0 20px;
}

@media only screen and (min-width:640px) {
    #topnav {
        padding-top: 0;
        font-size: 1.0em;
    }
    .utilities {
        height: 38px;
    }
    .utilities ul li {
        padding: 10px 8px;
    }
    .utilities ul li.social {
        display: inline;
        padding: 0;
    }

    .emceeLink a {
        margin-right: 12px;
    }
    #topnav {
        li.social {
            display: inline;
            a {
                width: 24px;
                img {
                    width: 24px;
                    height: 24px;
                }
            }
        }
    }
}

//.lt-ie8 {
//  .utilities.contact {
//      .row {
//          width: 
//      }
//      .columns {
//          float: none;
//      }
//}

// Small style
#contactDiv {
    .columns {
        float: none;
        padding: 0 1em 2em;
    }
}

@media only screen and (min-width:1000px) {
    #contactDiv {
        .columns {
            float: left;
        }
    }
}

.container {
    max-width: 640px;
    /* Small style */
    width: 100%;
}

.column, .columns {
    padding: 0 1em;
}

#footer {
    padding: 2em 1em;
    font-size: 0.9em;
    color: #999;

}


/* ============================
Homepage 
=============================== */

.home {
    color: #eee;
    background-color: transparent;
    font-family: $latolight;


    .logo {
        width: 300px;
        height: 56px;
        margin: -24px -150px;
        position: absolute;
        top: 50%;
        left: 50%;
    }

    .coming-soon {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        text-align: center;
        text-shadow: 0px 0px 2px #222;
        /* Small Styles */
        font-size: 1.5em;
        margin-top: 60px;
    }

    .copyright {
        position: absolute;
        padding: 0;
        bottom: 16px;
        left: 0;
        width: 100%;
        text-align: center;
        text-shadow: 0px 0px 2px #444;
        color: #ccc;
    }
}



@media only screen and (min-width:640px) {
    html.home {
        background-size: 1340px;
        min-height: 620px;

        .logo {
            width: 600px;
            max-width: none;
            height: 112px;
            margin: -45px -300px;
        }
        .coming-soon {
            font-size: 2.5em;
            margin-top: 120px;
        }

    }
}

@media only screen and (min-width:1000px) {
    html.home {
        background-size: 2034px;
        min-height: 750px;

        .logo {
            width: 928px;
            height: 173px;
            margin: -72px -464px;
        }
        .coming-soon {
            margin-top: 160px;
            font-size: 3.5em;
        }

    }
}



/* ============================
Careers Page
=============================== */
.careers {
    body {
        background: #eee;
        color: #000;
    }
    .container {
        line-height: 1.4em;
        font-size: 0.9em;
        h1 {
            font-size: 3em;
        }
        h3 {
            font-size: 1.8em;
            margin-top: 1.8em;
        }
        em {
            font-size: 1.3em;
        }

    }
}