@import "compass/utilities/color";
@import "compass/css3/transition";

/* =============================
Page Structure
================================ */

html,body {
    margin:0;
    padding:0;
    min-height: 100%;
    background-color: transparent;
}
html {
    background-image: url(../img/bkg.jpg);
    background-position: center 50px; // align with bottom of topnav;
    background-repeat: repeat;
    background-color: #333;
    background-size: 700px;
    position: relative;
    min-width: 320px;
    /* Small Styles */
    min-height: 360px;
}

#container {
    width: 100%;
    margin-top: 0; // Keep this, .navisactive uses margin-top.
}


/* ==========================
Typography
============================= */

html {
    font-family: $sans-serif;
}
h1,h2,h3,h4,h5,em {
    font-family: $lato-light;
    font-weight: normal;
    line-height: 1.1em;
    margin-bottom: 0;
}
h1 {
    font-size: 3.25em;
}
h2 {
    font-size: 1.8em;
    line-height: 1.3em;
    letter-spacing: 0.01em;
}

/* ==========================
Buttons
============================= */
$btn-orange-background: #b06b3f;
.btn {
    display: inline-block;
    text-decoration: none;
    margin: 0.2em 0.4em;
    padding: 0.4em 1.2em 0.5em;
    font-size: 1.2em;
    color: white;
    background-color: $btn-orange-background;
    &:hover {
        background-color: darken($btn-orange-background, 6%);
    }
}


/* ==========================
Helpers
============================= */
.hide-for-small {
    display: none !important;
}
.show-for-small {
    display: inherit !important;
}
@media only screen and (min-width:640px) {
    .hide-for-small {
        display: inherit !important;
    }
    .show-for-small {
        display: none !important;
    }
}

/* ==========================
Navigation
============================= */
$nav-background: #3c3d40;
$nav-text-hover: #fff9f2;
$nav-text: darken($nav-text-hover, 20%);
#topnav {
    position: relative;
    width: 100%;
    height: 50px;
    background-color: $nav-background; //rgba(0,0,0,0.6);
    margin: 0;
    padding: 0;
    font-family: $lato;
    letter-spacing: 0.02em;
    font-size: 1.03em;
    line-height: 1.05em;
    // Font size declared below in responsive.
// logo, pages, sister-sites, social
    ul {
        position: relative;
        list-style-type: none;
        text-align: left;
        width: auto;
        height: auto;
        margin: 0;
        padding: 0;
        li {
            display: inline;
            a {
                position: relative;
                display: inline-block;
                background-size: contain;
                color:  #bfbbb2;
                text-decoration: none;
                text-transform: uppercase;

                &:hover { 
                    color:  white; 
                    border-bottom: none;
                }
                &.img {
                    opacity: 0.6;
                    &:hover {
                        opacity: 1;
                    }
                }
            }
            &.active {
                background-color: darken($nav-background, 10%);
                a {
                    color: $orange;
                    font-family: $lato-black;
                }
            }
            img {
                position:absolute; 
                top: -18px;
                left: 0px;
            }
        }
    }

    .logo {
        display: block;
        margin: 0 1em 0 3em;
        // Small style
        float: none;

        .menuButton {
            // Small style
            background-image: url(../img/nav/menu.png);
            width: 33px;
            height: 33px;
            position: relative;
            top: 0.4em;
            margin-right: 0.5em;
        }
        .mc {
            // Small style
            background-image: url(../img/nav/meringcarson.png);
            background-repeat: no-repeat;
            width: 182px;
            height: 33px;
            position: relative;
            top: 0.65em;
        }

    }
    .pages {
        display: block;
        margin: 0;
        position: relative;
        top: 1.35em;
        // Small style
        float: none;
        li {
            // Small
            display: block;
            padding: 0;

            a {
                // Small
                padding: 0.8em 2.8em;                
            }
        }
    }
    .menu {
        // Container for .pages and .more
        // Small style
        display: block; // hide it with javascript, man.
        background-color: $nav-background; //rgba(0,0,0,0.6);
        padding: 0 0 1.1em;
        overflow: hidden;
        @include transition-property(height);
        @include transition-duration(1s);
    }
    .more {
        // Container for right-aligned elements.
        float: none;
    }
    .sister-sites {
        margin: 0 0.5em 0 0;
        // Small style
        float: none;
        li {
            // Small
            display: block;
        }
        .emcee {
            background-image: url(../img/nav/emcee.png);
            width: 112px;
            height: 30px;
            top: 0.6em;
            // Small
            margin: 1.4em 0 0 2.6em;
        }
        .blog {
            background-image: url(../img/nav/rss.png);
            background-size: 28px 28px;
            background-position: left center;
            background-repeat: no-repeat;
            width: auto;
            height: 28px;
            // Small
            margin: 1.2em 0 0 2.8em;
            span {
                // Text is inside this
                position: relative;
                top: 0.35em;
                padding-left: 32px;
                color: #fff9f2;
            }
        }
    }
    .social {
        // Small
        float: none;
        margin: 0.2em 0 0 2.3em;
        li {
            display: inline-block;
            a {
                display: block;
                width: 28px;
                height: 28px;
                margin: 0.7em 0 0 0.4em;
                float: none;
                background-repeat: no-repeat;
                background-position: center center;
            }
        }
        .youtube {
            background-image: url(../img/nav/youtube.png);
        }
        .twitter {
            background-image: url(../img/nav/twitter.png);
        }
        .linkedin {
            background-image: url(../img/nav/linkedin.png);
        }
        .facebook {
            background-image: url(../img/nav/facebook.png);
        }
    }
}
body.navIsHidden {
    // Add this class to hide the nav.  Javascript adds this class.
    // If no javascript, then menu is still accessible.
    #topnav {
        .menu {
            height: 0;
            display: none;
        }
    }
}
body.navIsActive {
    // Add this class to <body> whenever mobile nav dropdown is showing/visible/active/open.
    #topnav {
        .menu {
            height: auto;
            display: block;
        }
        .logo {
            .menuButton {
                opacity: 1;
            }
            .mc {
                // opacity: 1;
            }
        }
    }
    #container {
        margin-top: 350px;
    }
}

@media only screen and (min-width:1000px) {
    // Big Styles
    body.navIsHidden, body.navIsActive {
        #topnav {
            .menu {
                display: block;
                height: auto;
            }
        }
    }
    // Big Styles
    #topnav {
        .logo {
            float: left;
            .menuButton {
                // Big style
                display: none;
            }
            .mc {
                // Big style
                background-image: url(../img/nav/mc.png);
                width: 34px;
                height: 34px;
                position: relative;
                top: 0.4em;
            }
        }
        .menu {
            padding: 0;
            background-color: transparent;
        }
        .pages {
            float: none;
            margin: 0;
            li {
                display: inline;
                position: relative;
                top: -6px;
                margin-left: 20px;
                padding: 0;
                &:first-child {
                    margin-left: 0;
                }

                a {
                    padding: 0;
                }
            }
        }
        ul {
            li.active {
                background-color: transparent;
            }
        }
        .more {
            float: right;
            position: relative;
            top: -1.1em;
        }
        .sister-sites {
            float: left;
            margin: 0 12px 0 0;
            li {
                display: inline;
            }
            .emcee {
                margin: 0 1.6em 0 0;
            }
            .blog {
                margin: 0 0.8em 0 0;
                position: relative;
                top: -0.2em;
            }
        }
        .social {
            float: left;
            margin: 0 3em 0 0;
        }
    }
}

.container {
    max-width: 640px;
    /* Small style */
    width: 100%;
}

.column, .columns {
    padding: 0 1em;
}

#footer {
    padding: 2em 1em;
    font-size: 0.9em;
    color: #999;

}


// ============================
// Homepage 
// ===============================

.home {
    color: #eee;
    background-color: transparent;
    font-family: $lato-light;

    .copyright {
        position: absolute;
        padding: 0;
        bottom: 16px;
        left: 0;
        width: 100%;
        text-align: center;
        text-shadow: 0px 0px 2px #444;
        color: #ccc;
    }
}

.block {
    // aka .panel
    width: 100%;
    max-width: 590px;
    margin: 15px auto;
    // Small style
    padding: 45px 0px;
    h1,h2 {
        // Small style
        padding: 0 20px;    
    }

    &.orange {
        background-color: $orange;
        color: $dark-gray;
        h1 {
            color: white;
            font-family: $lato-light;
        }
        h2 {
            color: $dark-gray;
            font-family: $lato-light;
        }
    }
}
@media only screen and (min-width:640px) {
    // Big sizes
    .block {
        padding: 45px;
        h1,h2 {
            padding: 0 20px;
        }
    }
}

.center {
    margin-left: auto;
    margin-right: auto;
}
.icon {
    display: block;
    width: 95px;
    height: 95px;
    background-size: contain;
    &.idea {
        background-image: url(../img/icon-idea.png);
    }
}

// Homepage Logo
    // Small
    .logo {
        width: 80%;
        height: auto;
        margin: 40px auto 20px auto;
        img {
            width: 100%;
        }
    }

@media only screen and (min-width:640px) {
    html.home {
        background-size: 1340px;
        min-height: 620px;

        .logo {
            width: 600px;
            max-width: none;
            height: 112px;
            margin: 120px auto 70px auto;
        }
    }
}

@media only screen and (min-width:1000px) {
    html.home {
        background-size: 2034px;
        min-height: 750px;

        .logo {
            width: 928px;
            height: 173px;
            margin: 170px auto 80px auto;
        }

    }
}




/* ============================
Careers Page
=============================== */
.careers {
    body {
        background: #eee;
        color: #000;
    }
    .container {
        line-height: 1.4em;
        font-size: 0.9em;
        h1 {
            font-size: 3em;
        }
        h3 {
            font-size: 1.8em;
            margin-top: 1.8em;
        }
        em {
            font-size: 1.3em;
        }

    }
}