// @import "foundation/common/ratios";

// Settings file containing Foundation defaults

// Responsive numbers: (for info only, all numbers are pixel widths)

// Small:	<768	@media screen and (max-width: 768px)
  $breakSmall: 768px;
// Medium:   768	@media screen and (min-width: 768px)
// Large:	1280	@media screen and (min-width: 1280px) 
// XLarge:	1440	@media screen and (min-width: 1024px)
// http://foundation.zurb.com/docs/elements.php

// Grid Settings

// $rowWidth: 1000px;
// $columnGutter: 30px;
// $totalColumns: 12;
// $mobileTotalColumns: 4;

// Colors Settings

// mainColor: used in links, buttons.
// $mainColor: #2ba6cb;
 $mainColor: #f22;
 // Secondary Color: used in secondary button.
// $secondaryColor: #e9e9e9;
 $secondaryColor: #0000ff;
// $alertColor: #c60f13;
 $alertColor: #f22;
// $successColor: #5da423; //green
// $txtColor: used in tab text.
// $txtColor: #222;
 $txtColor: #f22;
// $highlightColor: #ffff99;
// $black: #000;
// white: used in button text, div.panel background, tab horizontal line, and tab left/right border.
// $white: #fff;
 $white: #444;
// $shinyEdge: rgba(#fff, .5);
// $darkEdge: rgba(#000, .2);

// Typography Settings

// $headerFontFamily: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
 $headerFontFamily: "FranklinGothic", "Helvetica", Helvetica, Arial, sans-serif;
// $headerFontWeight: bold;
 $headerFontWeight: normal;
// $headerFontColor: #222;
 $headerFontColor: #fff;
// $bodyFontFamily: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
 $bodyFontFamily: "FranklinGothic", "Helvetica", Helvetica, Arial, sans-serif;
// $bodyFontWeight: normal;
// $bodyFontColor: #222;
 $bodyFontColor: #fff;

// Button Settings

// $buttonRadius: 3px;
// $btnBase: 10px;

// $tinyBtnBase: $btnBase - 5;
// $smallBtnBase: $btnBase - 3;
// $largeBtnBase: $btnBase + 5;

// Form Settings

// $formSpacing: 12px;

// Tab Settings

// $tabHeight: 40px;

// Nav Bar Settings

// $navBarHeight: 40px;
// $navFlyoutBaseWidth: 250px;

// Modular Scale
// $ratio: $golden;
// $baseFontSize: 14px;
// $importantModNum: 44px;

// Tooltip Settings
// $hasTipBorderBottom: dotted 1px #ccc;
// $hasTipFontWeight: bold;
// $hasTipFontColor: #333;
// $hasTipBorderBottomHover: dotted 1px darken($mainColor, 20%);
// $hasTipFontColorHover: $mainColor;
// $tooltipBackgroundColor: #000;
// $tooltipBackgroundOpacity: 0.85;
// $tooltipFontSize: 12;
// $tooltipFontWeight: bold;
// $tooltipFontColor: #fff;
// $tapToCloseFontSize: 10;
// $tapToCloseFontWeight: normal;
// $tapToCloseFontColor: #888;
// $tooltipFontSizeScreenSmall: 14;
// $tooltipBackgroundOpacityScreenSmall: 0.85;